body {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
    padding: 0;
}
.navigation-bar-big {
    text-align: center;
    width: 100wi; 
    height: 100px;  
    background-color:rgb(79, 79, 139); 
} 
h1 {
    font-size: 1.7rem;
    display: inline;
}
.a {
    margin-top: 40px;
    font-size: 3rem;
    color: black;
    text-decoration: none;
    float: left;
    padding: 0;
    margin-left: 100px;
}
.b {
    margin-right: 100px;
    margin-top: 40px;
    font-size: 3rem;
    color: black;
    text-decoration: none;
    float:right;
    padding: 0;
}

.navigation-bar-big img {  
    width: 100px; 
    height: 100px; 
    margin: auto; 

} 

@media only screen and (max-width: 900px) {
    .navigation-bar-big{
        display:none;
    }
  }
  @media screen and (min-width:900px) {
      .navigation-bar-small{
        display:none;
      }
  }
.navigation-bar-small{
    text-align: right;
    width: 100wi; 
    height: 100px;  
    background-color:rgb(79, 79, 139);
}
.navigation-bar-small img {  
    width: 100px; 
    height: 100px; 
    margin: auto; 
  }
  .dropbtn {
      
    background-color:rgb(79, 79, 139);
    color: black;
    padding: 16px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    float: left;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(79, 79, 139);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: grey}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:rgb(79, 79, 139);
  }
.meio-big {
    height: 760px;
    background-image: url(lobo1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.meio-big .oi{
    width: 200px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 5rem;
    color: whitesmoke;
} 

.meio-big .ola {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: whitesmoke;
    text-indent: 30px;
    font-size: 1.8rem;
    width: 440px;
    margin:300px auto;
}
.meio-small {
    height: 500px;
    background-image: url(lobo1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.meio-small .oi{
    width: 200px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    color: whitesmoke;
} 

.meio-small .ola {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: whitesmoke;
    text-indent: 30px;
    font-size: 1.8rem;
    width: 440px;
    margin:300px auto;
}

@media only screen and (max-width: 900px) {
    .meio-big {
        display: none;
    }
}

@media screen and (min-width:900px) {
    .meio-small {
        display: none;
    }
}
.sobre {
    background-color:rgb(79, 79, 139) ;
    text-align: center
}
.sobre h1 {
    color: yellow;
    display: flex;
    font-size: 2.5rem;
    display: inline;
    text-align: center;
}
.sobre p {
    color: whitesmoke;
    text-size-adjust: auto;
    font-size: 2rem;
    text-align: center;
    padding:0 55px 50px 55px;
}
  
  div.gallery img {
    margin-top: 100px;
    width: 100%;
    height: auto;
  }
  
  div.desc {
      font-size: 1.5rem;
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    text-align: center;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

.valor {
    text-align: center;
}

.valor h1{
    font-size: 5rem;
    color:rgb(79, 79, 139);
    display: block;
    
}

.container-big .img-col-big img {
    width: 100%;
    border-radius: 50%;
}
.container-big {
    margin:0;
    background-color: rgb(79, 79, 139);
    display: flex;
    align-items: center;
    justify-content: center;
}
.as {
    font-size: 2rem;
    width: 500px;
}
.text-col-big {
    margin: 50px;
}
.container-big .text-col-big h1 {
    font-size: 4rem;
}
.container1-big .img-col1-big img {
    width: 100%;
    border-radius: 50%;
}
.container1-big {
    margin:0;
    background-color: rgb(79, 79, 139);
    display: flex;
    align-items: center;
    justify-content: center;
}
.as1-big {
    font-size: 2rem;
    width: 500px;
}
.text-col1-big {
    margin: 50px;
}
.container1-big .text-col1-big h1 {
    font-size: 4rem;
}

.lobos-ex{
    display: block;
    background-color: rgb(79, 79, 139) ;
    text-align: center;
}
.lobos-ex h1 {
    font-size: 5rem;
    color: yellow;
    display: block;
}

.final-deus {
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.con-final img {
    height: 300px;
    border-radius: 10%;
}
.text-fin {
    margin: 200px
}
.butao-final {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
}
@media only screen and (max-width: 900px){
    .final-deus{
        display:none;
    }
}
@media only screen and(min-width: 900px) {
    .hidden {
        display:none;
    }
}
.con1 img {height: 400px;}

.butao1-final {
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10%;
}
.text1 {
    text-align: center;
}
